yarn-error.log
package-lock.json
node_modules/**/*
.yarn
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Google PLay x EAS Submit
pc-api-7471923474792639039-886-2853adb1fe83.json
